*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: bisque;
}

h1{
    text-align: center;
    font-size: 25px;
}
.bus_item{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
}
.bus_item_route{
    list-style: none;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    background-color: #79f;
    width: 200px;
    height: 100px;
}
.bus_item_route a{
    text-decoration: none;
}
.bus_item1{
    top: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #666;
}
.Busroute_Top {
    top: 0px;
    width: 100%;
    position: fixed;
    background-color: #666;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Busroute_Top button{
    color: white;
    margin-bottom: 10px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    background-color: #666;
}
.Busroute_Top a{
    color: white;
    text-decoration: none;
}
.Busroute_Content{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.Busroute_Content_Bus{
    width: 80px;
    display: block;
}
.Busroute_Content_Bustext div{
    margin-left: 20px;
    height: 70px;
    display: block;
}
.Direction0{
    line-height: 55px;
	margin: auto;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    /*padding-top: 20px; */
    background-color: skyblue;
    height: 60px;
}
.Direction1{
    line-height: 55px;
	margin: auto;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    /*padding-top: 20px; */
    background-color: greenyellow;
    height: 60px;
}
.Busroute_Content_Bus1{
    width: 80px;
    display: block;
}
.Busroute_Content_Bus1text div{
    margin-left: 20px;
    height: 70px;
    display: block;
}
.bus_site{
    list-style: none;
    margin-top: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    height: 60px;
    color: white;
    background-color: red;
}
.bus_site p{
    display: none;
}
.hide{
    display: none;
}