*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: bisque;
}
h1{
    text-align: center;
    font-size: 25px;
}
.bus_title_text{
    background-color: #666;
    border: none;
    border-bottom: 3px solid black;
}
.bus_item{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px;
}
.bus_item_route{
    line-height: 15px;;
    list-style: none;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    background-color: skyblue;
    width: 200px;
    
}
.bus_item_route a{
    text-decoration: none;
}
.bus_title{
    top: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #666;
}
.Busroute_Top {
    top: 0px;
    width: 100%;
    position: fixed;
    background-color: #666;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.Busroute_Top button{
    color: white;
    margin-bottom: 10px;
    width: 250px;
    height: 50px;
    font-size: 25px;
}
.Busroute_Top a{
    color: white;
    text-decoration: none;
}
.Busroute_Top_Direction{
    display: flex;
    flex-basis: 50%;
}
.Busroute_Top_Direction h1{
    flex-shrink: 2;
    justify-content: center; 
    margin: 0 80px 0 80px;;
}
.Busroute_Content{
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.Busroute_Content_Bustext div, .Busroute_Content_Bus1text div{
    display: flex;
    align-items: center;
}
.item_line_go{
    position: relative;
    left: 35px;
    width: 10px;
    height: 50px;
    background-color: skyblue;
    z-index: 1;
}
.item_line_back{
    position: relative;
    left: 35px;
    width: 10px;
    height: 50px;
    background-color: greenyellow;
    z-index: 1;
}
.Busroute_Content_Bus{
    display: flex;
    justify-content: center; 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: skyblue;
}
.Busroute_Content_Bus1{
    display: flex;
    justify-content: center; 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: greenyellow;
}
.Busroute_Content_Bustext div ul{
    list-style: none;
}
.Busroute_Content_Bus1text div ul{
    list-style: none;
}
.bus_site{
    list-style: none;
    color: white;
    background-color: red;
}
.bus_site p{
    display: none;
}
.hide{
    display: none;
}
@media all and (max-width: 520px){
    .Busroute_Top_Direction h1{
        font-size: 18px;
    }
    .Busroute_Content{
        margin-top: 200px;
    }
    .Busroute_Content_Bustext div, .Busroute_Content_Bus1text div{
        height: 45px;
        font-size: 12px;
        flex-shrink: 0;
    }
    .Busroute_Content_Bustext div ul, .Busroute_Content_Bus1text div ul{
        padding: 10px 0 0 0;
    }
    .Busroute_Content_Bus, .Busroute_Content_Bus1{
        width: 45px;
        height: 45px;
    }
    .Busroute_Content_Bus p, .Busroute_Content_Bus1 p{
        padding: 10px 0 0 0;
    }
    .item_line_back{
        left: 20px;
        width: 5px;
        height: 30px;
        background-color: greenyellow;
        z-index: 1;
    }
    .item_line_go{
        left: 20px;
        width: 5px;;
        height: 30px;
        background-color: skyblue;
        z-index: 1;
    }
    .bus_site{
        padding: 0 0 5px 0;
    }
}
